<table>
    <thead>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Mensaje</th>
    </thead>
    <tbody>
        <tr>
            {{#each datosContacto}}
            <td>{{nombre}}</td>
            <td>{{correo}}</td>
            <td>{{mensaje}}</td>
            <td>
                <a href="/admin/contactanos/eliminar/{{id}}">Eliminar consulta</a>
                <a href="/admin/contactanos/editar/{{id}}">Modificar consulta</a>
                </td>
        </tr>
        {{/each}}
    </tbody>
</table>